<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

Spring Boot Micro service example

<form method="POST" enctype="multipart/form-data" id="exampleForm">
    Managers: <select id="auditors"> </select>
    <br/><br/>
    <b>Plan Name:</b> <input type="text" name="auditorname" id="auditorname"/><br/><br/>
    <input type="submit" value="Submit" id="btnSubmit"/>
</form>

Post Result

<pre>
    <span id="result"></span>
</pre>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>